* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --black: #081E29;
    --white: whitesmoke;
    --orange: #FF914D;
}
body {
    padding: 0;
    margin: 0;
}
body img {
    max-width: 200px;
}

.navbar {
    height: 100%;
    background: var(--black);
    display: flex;
    padding: 0 30px 0 30px;
    position: relative;
}
.navbar img {
    height: 50px;
}
#burger {
    color: var(--white);
}
.menu ul{
    padding: 10px 30px;
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    background: var(--black);
    opacity: 0;
    position: absolute;
}
.menu ul li a {
    color: var(--white);
    text-decoration: none;
}
.main-content-container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/bg.jpg) center/cover no-repeat;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
}
.main-content-container span {
    color: var(--orange);
}
.main-content-container h1 {
    margin: 0;
    padding: 0;
    padding-top: 50px;
}
.button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: var(--orange);
    color: var(--white);
    border: none;
    transition: 0.4s ease;
}
.button:hover {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background: var(--white);
    color: var(--orange);
    border: none;
}
.social-media{
    width: 50%;
}
.social-media ul {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    gap: 20px;
    padding-top: 40px;
}